{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <title>Mascotodo</title>
	<script src="{% static 'js/validLog.js' %}"></script>
	<script src="{% static 'js/sha1.js' %}"></script>
	<script>
		function cifrar(){
		 var input_pass = document.getElementById("password");
		 input_pass.value = SHA1(input_pass.value);		
	 	}	
 	</script>
  </head>
	<form action="index.html" method="GET" onsubmit="validar()">
		<div class="form-structor">
			<div class="signup">
				<h2 class="form-title" id="signup"><span>...o</span>Regístrate</h2>
				<div class="form-holder">
					<input
						placeholder="Correo electrónico"
						class="input" 
						type="text" 
						name="email"
						id="email"/>
					<input 
						placeholder="Nombre de usuario"
						class="input" 
						type="text" 
						name="username"
						id="username"/>
					<input 
						placeholder="Contraseña"
						class="input" 
						type="password"
						name="password"
						id="password"/>
				</div>
			<button class="submit-btn" id="btn-enviar" onclick="cifrar()">Registrarse</button>
		</div>
	</form>
	<form action="index.html" method="POST" onsubmit="validar()">
		<div class="login slide-up">
			<div class="center">
				<h2 class="form-title" id="login"><span>o</span>Inicia sesión</h2>
				<div class="form-holder">
					<input 
						placeholder="Correo electrónico"
						class="input" 
						type="text" 
						name="email"
						id="email"/>
					<input
						placeholder="Contraseña" 
						class="input"
						type="password"
						name="password"
						id="password"/>
				</div>
				<button class="submit-btn" id="btn-enviar" onclick="cifrar()">Iniciar sesión</button>
			</div>
		</div>
	 </div>
	</form>
	<script src="{% static 'js/login.js' %}"></script>