{% extends "app/base.html" %}
{% load static %}

{% block js %}
{% endblock %}

{% block contenido %}

{% load crispy_forms_tags %}
<div class="row">
  <div class="center">
  </div>
  <div class="card">
    <div class="card-body">
        <br>    
        <h1>¿Quienes somos?</h1>
        <br>
        <h4>Somos un grupo de amigas que comenzó a realizar ventas de productos para mascotas a traves de redes sociales, nuestro emprendimiento formaba parte de una iniciativa la cual consistia
          en ayudar a una fundacion sin fines de lucro, pero debido a la cantidad de pedidos que resiviamos a traves de market place e instagram tomamos la decicion de montar nuestra 
          propia pagina web para asi poder recibir todos sus pedidos con mayor comodidad, para asi brindarles una mejor atencion a nuestros clientes.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mus mauris vitae ultricies leo integer malesuada nunc vel. In ante metus dictum at tempor commodo. Pellentesque massa placerat duis ultricies lacus. Sit amet consectetur adipiscing elit duis. Elit ut aliquam purus sit amet luctus venenatis. Tortor posuere ac ut consequat semper. Proin sagittis nisl rhoncus mattis. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis. Elementum facilisis leo vel fringilla. Posuere morbi leo urna molestie at elementum eu facilisis. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Sem viverra aliquet eget sit. Massa vitae tortor condimentum lacinia quis vel. Non enim praesent elementum facilisis leo vel fringilla. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Erat nam at lectus urna duis convallis.
          <br>
          <p>Massa id neque aliquam vestibulum. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Vulputate mi sit amet mauris commodo. Pulvinar neque laoreet suspendisse interdum. Id venenatis a condimentum vitae sapien. Facilisi etiam dignissim diam quis enim lobortis. Blandit turpis cursus in hac habitasse platea dictumst quisque. Condimentum mattis pellentesque id nibh tortor id. Tempus urna et pharetra pharetra massa massa. Cursus euismod quis viverra nibh cras. Malesuada fames ac turpis egestas. A erat nam at lectus urna duis convallis convallis tellus.
          <br>
          <br>
      </div>
    </div>
  </div>  

  </div>
  <br>
  <div class="row">
    <div class="center">
        <div class="card">
          <div class="card-body">
            <h5>¿Tienes alguna consulta, reclamo o sugerencia? ¡Contáctanos!
              <hr>
              <form class="" method="post">
  
                {% csrf_token %}
        
                {{ form | crispy }}
                <br>
                <hr>
                <div class="d-flex justify-content-center">
                  <input type="reset" value="Cancelar" class="btn btn-secondary">
                  &nbsp;  
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
                
              </form>
              {{mensaje}}   
          </div>
       </div>
     
    </div>
  </div>
  <br><br>

{% endblock %}