{% extends "app/base.html" %}
{% load static %}
{% load humanize %}

{% block contenido %}
<div class="container">
  {% for p in productos %}   
    <div class="card-group mt-3">
      
      <div class="card text-center border-info">

          <div class="card-body">
            <h4 class="card-title">{{ p.nombre_producto | capfirst }}</h4>
            {% if p.miniatura  %}
            <img src="{{ p.miniatura.url }}" alt="Mascotodo" width="165px">
            {% endif %}
            <p class="card text">${{ p.precio_producto | intcomma }}</p>
            <a href="#" class="btn btn-primary">Añadir a carro</a>
          </div>
        
        </div>

    </div>
    {% endfor %}
</div> 
{% endblock %}